---
# 开启的检查器：
# 1. -* : 先忽略所有默认检查 (清空)
# 2. readability-identifier-naming : 开启命名检查（这是我们要的）
# 3. bugprone-* : 开启潜在 Bug 检查 (空指针引用等)
# 4. google-readability-* : 开启 Google 可读性检查
# 5. 屏蔽列表 (加负号 -)：
#    针对你截图中出现的噪音进行定点屏蔽
Checks: >
  -*,
  readability-identifier-naming,
  bugprone-*,
  google-readability-*,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions

CheckOptions:
  # --- 类与结构体 ---
  - { key: readability-identifier-naming.ClassCase,            value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,           value: CamelCase  }

  # --- 函数 ---
  - { key: readability-identifier-naming.FunctionCase,         value: CamelCase  }

  # --- 变量与成员 ---
  - { key: readability-identifier-naming.VariableCase,         value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,        value: lower_case }
  - { key: readability-identifier-naming.MemberCase,           value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix,         value: '_'        }
  # 结构体公有成员通常不加下划线
  - { key: readability-identifier-naming.PublicMemberSuffix,   value: ''         }

  # --- 常量 (k + CamelCase) ---
  - { key: readability-identifier-naming.ConstantCase,         value: CamelCase  }
  - { key: readability-identifier-naming.ConstantPrefix,       value: k          }
  - { key: readability-identifier-naming.GlobalConstantCase,   value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: k          }
  - { key: readability-identifier-naming.StaticConstantCase,   value: CamelCase  }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: k          }

  # --- 枚举 ---
  - { key: readability-identifier-naming.EnumCase,             value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantCase,     value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantPrefix,   value: k          }

  # --- 宏与命名空间 ---
  - { key: readability-identifier-naming.MacroDefinitionCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.NamespaceCase,        value: lower_case }

  # --- 模板 ---
  - { key: readability-identifier-naming.TypeTemplateParameterCase, value: CamelCase }

  # 静态常量
  - { key: readability-identifier-naming.StaticConstantCase,   value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: k         }

  # 类内静态常量
  - { key: readability-identifier-naming.ClassConstantCase,    value: CamelCase }
  - { key: readability-identifier-naming.ClassConstantPrefix,  value: k         }

  #  constexpr 通常也按常量处理
  - { key: readability-identifier-naming.ConstexprVariableCase,   value: CamelCase }
  - { key: readability-identifier-naming.ConstexprVariablePrefix, value: k         }
